# Core ML
fastembed
faiss-cpu
numpy

# Web & Auth
flask
flask-sqlalchemy
flask-login
flask-bcrypt
gunicorn
psycopg2-binary

# Document Processing
PyPDF2
pytesseract
Pillow
python-docx
python-pptx
pandas
openpyxl

# Utils
watchdog
google-generativeai
requests
python-dotenv